@page "/cadastrar-tecnicos"
@rendermode InteractiveServer

<meta charset="utf-8" />

<title>Cadastrar Técnicos</title>


<h3>Cadastrar Tecnicos</h3>

<form>
    <div class="mb-3">
        <label for="nomeTecnico" class="form-label">Nome do Técnico</label>
        <input type="text" class="form-control" id="nomeTecnico" placeholder="Digite o nome do técnico">
        <input type="submit" value="Cadastrar" class="btn btn-primary" color="black" />
    </div>
    
</form>

@code {



}
